$main-font-stack: 'Montserrat', sans-serif;
$secondary-font: 'Kaushan Script', sans-serif;
$main-card-tile: 'Montserrat';
$bottom-card-text: 'Roboto';
$on-banner-color: #fff;
$text-black-color: #333;
$main-color-accent: #fce38a;
$secondary-color-accent: #f6a1a1;
$grey-text: #a6a6a6;
$footer-main-color: #95e1d3;
$footer-border-color: #e5e5e5;
$footer-author-color: #f38181;
$gradient-top-color: #f38181e6;