.services__iсon--clock::before {
  background-image: url(../images/icons/photography.png);
}

.services__iсon--graph::before {
  background-image: url(../images/icons/web-desing.png);
}

.services__iсon--computer::before {
  background-image: url(../images/icons/creativity.png);
}

.services__iсon--book::before {
  background-image: url(../images/icons/seo.png);
}

.services__iсon--house::before {
  background-image: url(../images/icons/html.png);
}

.services__iсon--box::before {
  background-image: url(../images/icons/digital.png);
}
