html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#wrapper {
  position: relative; /* обясняет что враппер - родительский элемент */
  width: 100%; /* по ширине страницы */
  overflow: hidden; /* горизонтальный скролл не появится */
}

.container {
  max-width: 930px; /* компенсируем 15х2 для паддинга */
  margin: 0 auto;
  padding: 0 15px; /* с каждой стороны */
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  text-align: center;
  font-family: "Playfair Display", regular;
}

.nav-item {
  display: inline-block; /* обязательно должен быть Vertical align т.к. высота у всех разная */
  vertical-align: middle;
}

.nav-item + .nav-item {
  /* сделал левый отступ между элементами начиная со второй*/
  padding-left: 15px;
}

.cards {
  letter-spacing: -0.34em;
  margin: 0 -30px;
}

.card {
  display: inline-block; /* нюанс (погрешность 4 пикселя) */
  width: 50%;
  vertical-align: middle;
  padding: 0 30px 30px; /* верхняя толкает нижнюю */
  letter-spacing: 0; /* обнуляем леттер спейсинг междустрочное расстрояние */
}
.card-header > h2 {
  color: rgb(98, 98, 98);
  font-family: "Playfair Display", regular;
  font-size: 30px;
  font-weight: normal;
}

.wrapper {
  text-align: center;
}

.nav-list > a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
}

.nav-item > .nav-link-1:hover {
  color: rgb(3, 169, 244);
}

.card-header > p {
  font-size: 14px;
  font-family: "Ubuntu";
  text-transform: uppercase;
  color: rgb(180, 173, 158);
}

.card-body > p {
  font-family: 'Playfair Display', regular ;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  font-size: 14px;
}

.wrapper > button {
  width: 165px;
  height: 60px;
  color: rgb( 98, 98, 98 );
  font-family: 'Playfair Display', regular ;
}

